body{
    margin: 15px;
    padding: 0;
    box-sizing: border-box;

}

/* Zone CONTACT */
    .parent{
        width: 90%;
    }

    .parent hr{
        margin-left: 150px;
        margin-top: -8px;
        height: 1px;
        width: 80%;
        background-color: blue;
    }

    .besser{
        display: flex;
    }

    h3{
        color: blue;
        font-size: 1.3em;
        margin-left: 10px;
    }

    .detail{
        list-style-type: none;
        margin-left: 20px;

    }
    .image{
        height: 150px;
        width: 120px;
        /* margin-top: -100px; */
        margin-left: 10px;
    }
    .nom{
        color: blue;
        list-style-image: url("http://127.0.0.1/stage/photos/contact21.png");
    }

    .mail{
        list-style-image: url("http://127.0.0.1/stage/photos/email.png");
    }

    .tel{
        list-style-image: url("http://127.0.0.1/stage/photos/phone.png");
    }

    .localisation{
        list-style-image: url("http://127.0.0.1/stage/photos/localisation.jpg");
    }

/* Fin de la zone 1 */

/* Zone OBJECTIFS: zone 2 */

    .exp{
        margin-left: 230px;
        width: 65%;
        font-size: 1.5em;
    }

/* Fin de la zone 2 */

/* Zone EDUCATION : Zone 3 */

    em{
        margin-right: 55px;
        font-size: 1.5em;
        font-weight: bold;
        color: blue;
    }

    .ecol span{
        margin-left: 60px;
        font-size: 1.5em;
        font-weight: bold;
    }

    strong{
        margin-left: 230px;
        font-weight: normal;
        font-size: 1.1em;
    }

/* Fin de la zone 3 */

/* Zone COMPETANCES, LANGUE, INFOS PERSO, LOISIRS: zone 4 */

    .NoPuce{
        list-style-type: none;
        margin-left: 200px;
        font-size: 1.5em;
    }
    .traitcom hr{
        margin-left: 180px;
        width: 68%;
    }
    .traitInfo hr{
        margin-left: 360px;
        width: 35%;
    }
    .traitlan hr{
        width: 71%;
    }
    .traitloi hr{
        margin-left: 110px;
        width: 75%;
    }
/* fin de la Zone 4 */

/* RENDRE LA PAGE   RESPONSIVE */

@media(max-width: 700px){

    .parent{
        width: 75%;
        height: 30%;
    }

    .detail{
        margin-left: 20px;
    }

    .image{
        height: 100px;
        width: 80px;
        margin-left: 1%;
    }

    .parent hr{
        width: 75%;
    }

    /* Zone OBJECTIS: zone 1 */

    .exp{
        margin-left: 10%;
        width: 70%;
        font-size: 1.3em;
    }

    /* Zone EDUCATION : Zone 2 */

    strong{
        margin-left: 0%;
        font-style: italic;
        color: red;
    }

    em{
        margin-right: 0px;
    }
    
    .ecol{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    /* Zone COMPETANCES, LANGUE, INFOS PERSO, LOISIRS: zone 3 */

    .NoPuce{
        margin: 5%;
        font-size: 1.5em;
    }

    .traitInfo hr{
        /* margin-left: 350px; */
        width: 15%;
    }
    .traitcom hr{
        width: 60%;
    }
    .traitloi hr{
        margin-left: 110px;
        width: 84%;
    }
}

@media(max-width: 500px){
   body{
       padding: 5px;
   }
    .parent{
        width: 100%;
        height: 30%;
    }

    .parent hr{
        width: 0%;
    }
    h3{
        text-align: center;
        text-decoration: underline;
    }
   
    .besser{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    /* .iphone5{
        text-align: center;
    } */

    .image{
        margin-top: 0px;
    }

    .detail{
        margin-left: 10px;
    }

    .exp{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }.NoPuce{
        list-style-type: initial;
    }

}

/* Ce cas conserne le iphone 5 */
@media(max-width: 400px){

    .besser{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: space-between;
    }

    .image{
        margin-top: 0px;
    }

    .detail{
        margin-left: 5px;
    }
}